.status {
  &.collapsed {
    .status__content {
      height: unset;
      max-height: 6em;
      padding-top: unset;

      &::after {
        top: unset;
        height: 40%;
      }
    }
  }

  &--in-thread {
    &.collapsed {
      & > button {
        margin-inline-start: 46px + 10px;
      }
    }
  }
}

// Fix background color after upstream moved how the
// normal button is placed in the DOM
.status.collapsed .status__content__spoiler-link {
  background: $action-button-color;
}
