@import 'application';

/* Fullwidth images!
 * HACK: As an actual feature, this would better be done 
 * by changing the things this code is overriding in the 
 * place where they originally appear. 
 *
 * This is implemented
 * in custom.scss because it was developed for cybrespace
 * as a modification of the base CSS to avoid conflicts upon
 * new version releases.
 */

.media-gallery {
  max-height:30vh;
  height:30vh !important;
  position:relative;
  margin-top:20px;
  margin-left:-68px;
  width: calc(100% + 80px);
}

.detailed-status .media-gallery {
  margin-left:-10px;
  width: calc(100% + 22px);
}

.media-spoiler-video,
.status__video-player,
.detailed-status > .media-spoiler,
.status > .media-spoiler {
  max-height:30vh;
  height:30vh !important;
  position:relative;
  margin-top:20px;
  margin-left:-68px;
  width: calc(100% + 80px) !important;
}

.status__video-player-video {
  transform:unset;
  top:unset;
}

.detailed-status > .media-spoiler,
.status > .media-spoiler {
  height:30vh !important;
  vertical-align:middle;
}

