$black: #000000;
$white: #ffffff;
$success-green: #79bd9a;
$error-red: #df405a;
$warning-red: #ff5050;
$gold-star: #ca8f04;

// Values from the classic Mastodon UI
$classic-base-color: #282c37;         // Midnight Express
$classic-primary-color: #9baec8;      // Echo Blue
$classic-secondary-color: #d9e1e8;    // Pattens Blue
$classic-highlight-color: #2b90d9;    // Summer Sky

// our theme customizations
$solar-highlight-color: #378d2a;
$solar-bg: #060e0c; // dark green
$solar-recycling: #009700;
$solar-panel-header: #202c4d;

// Variables for defaults in UI
$base-shadow-color: $black !default;
$base-overlay-background: $black !default;
$base-border-color: $white !default;
$simple-background-color: $white !default;
$valid-value-color: $success-green !default;
$error-value-color: $error-red !default;

$ui-base-color: #161c2c;
$ui-base-lighter-color: #5370a2 !default; // Lighter darkest
$ui-primary-color: $classic-primary-color !default;
$ui-secondary-color: $classic-secondary-color !default;
$ui-highlight-color: $classic-highlight-color !default;

$ui-highlight-color: $solar-highlight-color;


// Variables for texts
$primary-text-color: $white !default;
$darker-text-color: $ui-primary-color !default;
$dark-text-color: $ui-base-lighter-color !default;
$secondary-text-color: $ui-secondary-color !default;
$highlight-text-color: $ui-highlight-color !default;
$action-button-color: $ui-base-lighter-color !default;
$action-button-color-lighter: lighten($ui-base-lighter-color, 10%) !default;
$action-button-color-darker: darken($ui-base-lighter-color, 5%) !default;

$passive-text-color: $gold-star !default;
$active-passive-text-color: $success-green !default;
// For texts on inverted backgrounds
$inverted-text-color: $ui-base-color !default;
$lighter-text-color: $ui-base-lighter-color !default;
$light-text-color: $ui-primary-color !default;

$solar-disabled: darken($action-button-color, 10%) !default;

// Language codes that uses CJK fonts
$cjk-langs: ja, ko, zh-CN, zh-HK, zh-TW;

// Variables for components
$media-modal-media-max-width: 100%;
// put margins on top and bottom of image to avoid the screen covered by image.
$media-modal-media-max-height: 80%;

$no-gap-breakpoint: 415px;

$font-sans-serif: 'mastodon-font-sans-serif' !default;
$font-display: 'mastodon-font-display' !default;
$font-monospace: 'mastodon-font-monospace' !default;

// Avatar border size (8% default, 100% for rounded avatars)
$ui-avatar-border-size: 8%;

// More variables
$dismiss-overlay-width: 4rem;

